@import url("../index.css");

body {
  font-family: Bagnard;
  color: #595959;
}

header img {
  width: 100px;
  margin-inline: auto;
  padding-block: 20px;
}

.content > * + * {
  margin-top: 20px;
}

.left {
  display: flex;
  align-items: center;
  flex: 1 0 60%;
}

.left iframe {
  padding: 20px;
  aspect-ratio: 16 / 9;
  flex: 1;
}

.content {
  padding: 20px;
}

.genre,
.meta,
.description {
  padding-inline-start: 12px;
  font-weight: 200;
}

.content button {
  background: rgb(212, 180, 45, .3);
  color: #8C8C8C;
  padding: 10px 20px;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: Manrope;
  font-weight: bold;
  border: none;
}

.text-link {
  font-family: Manrope;
  color: #D9D9D9;
  margin-top: 20px;
  display: block;
}

.text-link:hover {
  color: #D4B42D;
}

.meta span {
  color: #1A1A1A;
}

.content img[alt="logo image"] {
  display: none;
}

@media (width >=1024px) {
  main {
    height: 100vh;
    display: grid;
    place-items: center;
  }

  section {
    max-width: 1250px;
    margin-inline: auto;
    display: flex;
    gap: 40px;
  }

  .left iframe{
    width: 800px;
    height: 480px;
    margin-inline: auto;

  }

  .right {
    flex-grow: 1222;
  }

  header img[alt="logo image"] {
    display: none;
  }

  .content img[alt="logo image"] {
    width: 150px;
    margin-inline: auto;
    display: block;
  }
}
