body {
  font-family: Bagnard;
  display: flex;
  flex-direction: column;
}

#backdrop {
  background: #1A1A1A;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -2;
  opacity: 0;
}

.logo-container {
  width: 100%;
}

.logo-container img {
  width: 150px;
  margin: 0 auto;
}

.random {
  padding-inline: 30px;
  margin-top: auto;
  position: relative;
  z-index: 33;
}

.list-container {
  max-width: 1000px;
  margin-inline: auto ;
}

#list, #add-movie {
  padding: 20px;
}

#list > * + * {
  margin-top: 20px;
}

.card {
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #595959;
  display: flex;
  align-items: center;
}

.card span {
  margin-left: auto;
}

.random #vamos {
  display: none;
}
.controls button, .random #vamos {
  background: #D4B42D;
  color: #1A1A1A;
  padding: 10px 20px;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: Manrope;
  font-weight: bold;
  border: 2px solid transparent;
}


.controls button:hover, .random #vamos:hover {
  border: 2px solid #1A1A1A;
  color: #D4B42D;
  background: white;
  cursor: pointer;
}

.random #vamos {
  width: 100%;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
}

.random-bg {
  display: flex;
  justify-content: center;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: 320px;
  /* border-radius: 50%; */
  background-color: #1A1A1A;
  margin: 0 auto;
  margin-bottom: 30px;
  /* border: 0.5rem solid transparent; */
  border-image: url(/img/rollo-top.svg) 30;
}


@media (width >=1024px) {

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

 
  section {
    max-width: 1250px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  .random, .list-container {
    flex: 1;
    /* max-width: 500px; */
  }

  #vamos {
    display: none;
  }
  .random #vamos {
    display: block;
  }

  .controls button {
    margin-left: auto;
  }

}


/* Animations */


#randomEngine {
  display: grid;
  place-items: center;
  width: 100%;
  text-align: center;
  position: relative;
}

#randomEngine :not(:first-child) {
  /* opacity: 0; */
}

#animation-title {
  animation: fade-titles 3s infinite;
}

.movie-name {
  opacity: 1;
  visibility: hidden;
}

    .visible {
      opacity: 1;

      transition: opacity .3s;
    }



#randomEngine p {
  color: #FFFFFF;
  position: absolute;
  transform: scale(1.5);
}



/* modal  */

dialog:modal {
  box-shadow: 2px 2px 5px rgba(40, 38, 38, 0.112);
  margin: auto;
  border: none;
}

:modal::backdrop {
  background: hsla(0, 0%, 38%, 0.9);
  backdrop-filter: blur(3px);
}


:modal::backdrop {
  background: transparent;
}


.respuestaFinal {
  max-width: 500px;
  margin: auto;
  display:flex;
  flex-direction: column;
  gap: 2rem;
}

.respuestaFinal div {
  width:150px;
  margin: auto;
}

.respuestaFinal h3 {
  text-align: center;
}

img.play {
  margin: auto;
}