@import '../molecules/search-input.css';
h1 , h3 {
  font-family: 'Manrope';
  font-size: xx-large;
}
body {
  padding: 50px;
  background-color: #FFFFFF;
}

.respuestaFinal {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.respuestaFinal img {
  height: 150px;
  margin-bottom: 50px;
}

.respuestaFinal h3 {
  text-align: center;
  font-family: 'Bagnard', sans-serif;
  font-style: normal;
  font-size: medium;
  margin-bottom: 20px;
}

.respuestaFinal .respuesta {
  text-align: center;
}   
@media (min-width: 1024px) {
  .respuestaFinal {
    height: 100vh;
    place-items: center;
  }

  .respuestaFinal {
    max-width: 1250px;
    padding: 20px;
    margin-left: 500px;
    margin-right: 500px;
    margin-inline: auto;
    display: flex;
  }
  .playButton{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
  }}
  playButton {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
  }
  
  .playButton img {
    transition: filter 0.3s ease-in-out;
  }
  
  .playButton img:hover {
    filter:saturate(180%)
  }
  
