#logo-cp{
  margin-top: 10px;
}

.respuestaFinal {
  /* width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 600px;
    width: 400px;
    margin-top: 70px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #d7d7d750;
    background: #ffffff;
}

.respuestaFinal img {
  height: 150px;
  margin-bottom: 10px;
}

.respuestaFinal h3 {
  text-align: center;
  font-family: 'Bagnard', sans-serif;
  font-style: normal;
  font-size: medium;
  margin-bottom: 20px;
}

.respuestaFinal .respuesta {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Bagnard';
}

@media (min-width: 1024px) {
  .respuestaFinal {
    height: 100vh;
    place-items: center;
  }

  .respuestaFinal {
    /* max-width: 1250px;
    padding: 20px;
    display: flex;
    justify-content: center; */
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 600px;
    width: 400px;
    margin-top: 70px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #d7d7d750;
    background: #ffffff;
  }

  .playButton {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
  }
}

.playButton img {
  transition: filter 0.3s ease-in-out;
  cursor: pointer;
}

.playButton img:hover {
  filter: saturate(180%);
}

.resultado {
  font-size: 30px;
  font-family: 'Manrope';
  margin-bottom: 30px;
}

.respuestaPeli {
  font-size: 36px;
  margin-bottom: 30px;
}

.respuestaFinal {
  position: relative;
}

.respuestaFinal .cruz {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #d9d9d9;
}

.play {
  cursor: pointer;
}

