  body {
      background-color: #000000;
      display: grid;
      place-items: center;
    }
  img{
      width: 230px;
      height: 120px;
      animation: bounce-in 3s ease;
    }

    @keyframes bounce-in {
      0% {
        opacity: 0;
        transform: scale(.3);
      }
      50% {
        opacity: 1;
        transform: scale(1.05);
      }
      70% { transform: scale(.9); }
      100% { transform: scale(1); }
    }
   
  

  @media (width >=1024px) {
      body {
        height: 100vh;
        place-items: center;
      }
      
      img {
        max-width: 1250px;
        width: 800px;
        height: 400px;
      }
    }