@import '../molecules/search-input.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 50px;
  padding: 50px;
  background-color: #FFFFFF;
}
.bloque{
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img{
  height: 150px;
  margin-bottom: 50px;
}

p{
  text-align: center;
  font-family: 'Bagnard', sans-serif;
  font-style: normal;
  font-size: medium;
  margin-bottom: 20px;
}

.btn-intro {
  background: #FFFFFF;
  border: none;
  padding: 50px 20px;
  font-family: 'Manrope';
  font-style: normal;
  font-size: 16px;
  text-align: right;
  color: #D9D9D9;
}

.btn-intro:hover {
  color: #1a1a1a;
  border: none;
  cursor: pointer;
}