@import '../atoms/colors.css';

.search-input {
  border: var(--accent);
  background-color: var(--dark);
}

.background-dark {
  background-image: url('https://images.freeimages.com/images/large-previews/816/tower-bridge-london-1203174.jpg');
}
