<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Intro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script> -->
  </head>
  <body id="intro" data-barba="wrapper">
    <p>hola a</p>
    <div data-barba="container" data-barba-namespace="intro">
    <header>
      <a href="../splash/splash.html">splash</a>
    </header>
    <h1>Intro</h1>
    <main class="main-intro background-dark">

    </main>
    </div>
    <script type="module" src="./intro.ts"></script>
  </body>
</html>
