<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="css/style.css" rel="stylesheet"> -->
  </head>
  <body data-barba="wrapper">
    <p>hola</p>
    <div data-barba="container" data-barba-namespace="splash">
    <header>
      <a href="../intro/intro.html">Intro</a>
    </header>
    <h1>Splash</h1>
    <main class="main-splash">

    </main>
    </div>
    <script type="module" src="./splash.ts"></script>
  </body>
</html>
